version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: cms-postgres
    restart: always
    environment:
      POSTGRES_DB: contactdb
      POSTGRES_USER: cms_user
      POSTGRES_PASSWORD: cms_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
